rootkey.csv
terraform.tfstate
terraform.tfstate.backup
.terraform/plugins/registry.terraform.io/hashicorp/aws/3.12.0/windows_amd64/terraform-provider-aws_v3.12.0_x5.exe
.terraform/plugins/selections.json
.terraform/modules/modules.json
